.categories-page{
    padding:120px 0 80px;
    background:#F8F9FA;
}

.categories-page h1{
    text-align:center;
    font-size:42px;
    margin-bottom:50px;
    color:#1F2937;
}

.categories-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.category-page-card{
    cursor: pointer;
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.category-page-card:hover{
    transform:translateY(-8px);
}

.category-page-card img{
    width:100%;
    height:260px;
    object-fit:cover;
    display:block;
}

.category-content{
    padding:20px;
    text-align:center;
}

.category-content h3{
    font-size:22px;
    color:#1F2937;
    margin-bottom:10px;
    font-weight:600;
}

.category-content p{
    color:#777;
    font-size:15px;
}
@media (max-width: 900px){
    .categories-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px){
    .categories-grid{
        grid-template-columns: 1fr;
    }
    .category-page-card img{
        height: 200px;
    }
}
