.product-details{
    padding:80px 0;
}

.details-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
    align-items:center;
}

.details-image img{
    width:100%;
    border-radius:18px;
}

.details-content h1{
    font-size:40px;
    margin-bottom:20px;
}

.details-content h2{
    color:#D4AF37;
    margin-bottom:20px;
}

.details-content p{
    color:#6B7280;
    line-height:1.8;
    margin-bottom:30px;
}

.details-content button{
    padding:15px 35px;
    border:none;
    background:#1F2937;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
}

.details-left{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.main-image img{
    width:100%;
    border-radius:15px;
}

.thumb-images{
    display:flex;
    gap:15px;
}

.thumb-images img{
    width:90px;
    height:90px;
    object-fit:cover;
    border-radius:10px;
    cursor:pointer;
    border:2px solid transparent;
}

.thumb-images img:hover{
    border-color:#D4AF37;
}

.thumb-images img.active-thumb{
    border-color:#D4AF37;
}

.quantity{
    display:flex;
    align-items:center;
    gap:20px;
    margin:25px 0;
}

.quantity button{
    width:45px;
    height:45px;
    border:none;
    background:#1F2937;
    color:#fff;
    border-radius:8px;
    cursor:pointer;
}

.cart-btn,
.buy-btn{
    width:100%;
    height:55px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    margin-top:15px;
}

.cart-btn{
    background:#1F2937;
    color:#fff;
}

.buy-btn{
    background:#D4AF37;
    color:#fff;
}

.product-extra{
    margin-top:50px;
}

.product-extra h2{
    margin:30px 0 15px;
    color:#1F2937;
}

.product-extra p{
    line-height:1.8;
    color:#666;
}

.product-extra ul{
    padding-left:20px;
}

.product-extra li{
    margin-bottom:10px;
}

.review-card{
    background:#fff;
    padding:20px;
    margin-top:20px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.related-products{
    padding:80px 0;
}

.related-products h2{
    margin-bottom:30px;
}

.related-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.related-card{
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    text-align:center;
    padding-bottom:20px;
}

.related-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.related-card h4{
    margin:15px 0 10px;
}
@media (max-width: 900px){
    .details-container{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .related-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px){
    .product-details{
        padding: 40px 0;
    }
    .details-content h1{
        font-size: 28px;
    }
    .thumb-images img{
        width: 65px;
        height: 65px;
    }
    .related-grid{
        grid-template-columns: 1fr;
    }
}
